In [1]:
import cudf
import cuspatial as csp

In [2]:
cudf.read_parquet("https://pydatatt.s3.amazonaws.com/Combined/ALL_GOM_cargo_2019-2021.parquet")

,BaseDateTime,MMSI,LAT,LON,VesselName,IMO,SOG
0,2019-01-01 00:00:00,314263000.0,29.91651,-90.12085,LYCAVITOS,IMO9368857,12.8
1,2019-01-01 00:05:00,314263000.0,29.90751,-90.10366,LYCAVITOS,IMO9368857,12.5
2,2019-01-01 00:10:00,314263000.0,29.91338,-90.08699,LYCAVITOS,IMO9368857,12.6
3,2019-01-01 00:15:00,314263000.0,29.92024,-90.06981,LYCAVITOS,IMO9368857,13.3
4,2019-01-01 00:20:00,314263000.0,29.93362,-90.05813,LYCAVITOS,IMO9368857,13.2
...,...,...,...,...,...,...,...
30775533,2021-12-31 23:35:00,477826600.0,27.46033,-88.52127,AMOY DREAM,IMO9583615,12.9
30775534,2021-12-31 23:40:00,477826600.0,27.47457,-88.53260,AMOY DREAM,IMO9583615,13.0
30775535,2021-12-31 23:45:00,477826600.0,27.48883,-88.54284,AMOY DREAM,IMO9583615,13.0
30775536,2021-12-31 23:50:00,477826600.0,27.50371,-88.55237,AMOY DREAM,IMO9583615,13.0
30775537,2021-12-31 23:55:00,477826600.0,27.52105,-88.56032,AMOY DREAM,IMO9583615,12.9