In [1]:
import cudf
import cuspatial as csp

In [2]:
%%time
df = cudf.read_parquet("../../US_MARINE/ALL_GOM_tanker_2019-2021.parquet")[['BaseDateTime', 'MMSI', 'LAT', 'LON']].reset_index(drop=True)
df['MMSI'] = df.MMSI.astype('int32')
df['BaseDateTime'] = df.BaseDateTime.astype('datetime64[ms]')
df = df.sort_values(by=['MMSI','BaseDateTime']).reset_index(drop=True)
df
# objects, traj_offsets = csp.derive_trajectories(df.MMSI, df.LON, df.LAT, df.Time)
# objects

CPU times: user 677 ms, sys: 389 ms, total: 1.07 s
Wall time: 2.4 s

                BaseDateTime       MMSI       LAT       LON
0        2019-01-02 19:05:00    3791472  26.13211 -92.04048
1        2019-01-02 19:10:00    3791472  26.13213 -92.04049
2        2019-01-02 19:15:00    3791472  26.13215 -92.04044
3        2019-01-02 19:20:00    3791472  26.13216 -92.04049
4        2019-01-02 19:25:00    3791472  26.13212 -92.04046
...                      ...        ...       ...       ...
38903728 2021-06-22 13:50:00  710033290  28.19147 -94.51869
38903729 2021-06-22 14:50:00  710033290  28.00145 -94.46387
38903730 2021-06-22 15:30:00  710033290  27.87318 -94.41796
38903731 2020-01-24 15:25:00  866666666  29.42988 -93.64103
38903732 2020-01-24 15:35:00  866666666  29.43002 -93.64099

[38903733 rows x 4 columns]

In [3]:
mmsi_names = df.MMSI.unique().to_arrow().to_pylist()
mmsi_names[:5]

[3791472, 205042000, 205086000, 205089000, 205097000]

In [11]:
import time
import datetime
def minus_2019_ts(ts):
    try:
        ans = ts.astype('datetime64[s]').astype('int') - time.mktime(datetime.datetime(2019,1,1).timetuple())
    except:
        ans = -9999.0
    return ans
minus_2019_ts(df.iloc[0].BaseDateTime)

0    140700.0
Name: BaseDateTime, dtype: float64

In [15]:
df['Unix_Seconds'] = df.BaseDateTime.astype('datetime64[s]').astype('int') - 1546315200.0 # 2019-1-1 in seconds
df

                BaseDateTime       MMSI       LAT       LON  Unix_Seconds
0        2019-01-02 19:05:00    3791472  26.13211 -92.04048      140700.0
1        2019-01-02 19:10:00    3791472  26.13213 -92.04049      141000.0
2        2019-01-02 19:15:00    3791472  26.13215 -92.04044      141300.0
3        2019-01-02 19:20:00    3791472  26.13216 -92.04049      141600.0
4        2019-01-02 19:25:00    3791472  26.13212 -92.04046      141900.0
...                      ...        ...       ...       ...           ...
38903728 2021-06-22 13:50:00  710033290  28.19147 -94.51869    78054600.0
38903729 2021-06-22 14:50:00  710033290  28.00145 -94.46387    78058200.0
38903730 2021-06-22 15:30:00  710033290  27.87318 -94.41796    78060600.0
38903731 2020-01-24 15:25:00  866666666  29.42988 -93.64103    33564300.0
38903732 2020-01-24 15:35:00  866666666  29.43002 -93.64099    33564900.0

[38903733 rows x 5 columns]

In [32]:
%%time
list_of_rows = []
for j, mmsi in enumerate(mmsi_names[:]):
    tmp = df[df.MMSI == mmsi]
    list_of_paths = []
    list_of_ts = []
    for i,row in tmp.to_pandas().iterrows():
        list_of_paths.append([row.LON,row.LAT])
        list_of_ts.append(row.Unix_Seconds)
    list_of_rows.append([mmsi, list_of_paths, list_of_ts])
    if j % 20 == 0:
        print(j, mmsi)

0 3791472
20 205760000
40 215077000
60 215503000
80 215669000
100 215894000
120 219027876
140 219156000
160 219322000
180 219603000
200 220629000
220 226099000
240 229248000
260 229582000
280 232006300
300 235009410
320 235076274
340 235108529
360 236702000
380 240235000
400 240728000
420 240991000
440 241330000
460 241529000
480 241632000
500 241734000
520 247293200
540 248372000
560 248754000
580 249084000
600 249592000
620 249882000
640 255806138
660 256338000
680 257034490
700 257326000
720 257447000
740 257872000
760 258749000
780 259773000
800 271043022
820 308871000
840 309992000
860 310652000
880 310800000
900 311000333
920 311000476
940 311001007
960 311026700
980 311498000
1000 316011550
1020 319280000
1040 319627000
1060 351896000
1080 352901000
1100 353616000
1120 354628000
1140 355364000
1160 356186000
1180 357315000
1200 366495000
1220 368589000
1240 370642000
1260 371294000
1280 371809000
1300 372861000
1320 373592000
1340 374788000
1360 403548000
1380 419001224
1400 477010100
1420 477118200
1440 477185800
1460 477257200
1480 477486600
1500 477615700
1520 477768200
1540 533130869
1560 538002662
1580 538003027
1600 538003470
1620 538003755
1640 538003941
1660 538004174
1680 538004533
1700 538004976
1720 538005093
1740 538005249
1760 538005399
1780 538005532
1800 538005633
1820 538005797
1840 538005983
1860 538006203
1880 538006540
1900 538007042
1920 538007363
1940 538007631
1960 538007910
1980 538008165
2000 538008270
2020 538008412
2040 538008598
2060 538008713
2080 538008852
2100 538009022
2120 538009165
2140 538009346
2160 538009688
2180 538090534
2200 563018400
2220 563059600
2240 563074100
2260 563087800
2280 563103000
2300 563120600
2320 563135600
2340 563681000
2360 564430000
2380 564972000
2400 565397000
2420 565871000
2440 566428000
2460 566914000
2480 636011436
2500 636012465
2520 636012855
2540 636013372
2560 636014077
2580 636014309
2600 636014739
2620 636015107
2640 636015560
2660 636015946
2680 636016364
2700 636016696
2720 636017299
2740 636017832
2760 636018307
2780 636018642
2800 636018824
2820 636018959
2840 636019201
2860 636019492
2880 636019833
2900 636020121
2920 636020778
2940 636090886
2960 636092497
CPU times: user 23min 42s, sys: 4.45 s, total: 23min 46s
Wall time: 23min 46s

In [33]:
traj_df = cudf.DataFrame(list_of_rows, columns=['mmsi','path','ts'])
traj_df.to_parquet("trajectories/ALL_GOM_tanker_2019-2021_traj.parquet")

In [34]:
traj_df

,mmsi,path,ts
0,3791472,"[[-92.04048, 26.13211], [-92.04049, 26.13213],...","[140700.0, 141000.0, 141300.0, 141600.0, 14190..."
1,205042000,"[[-89.2095, 27.24959], [-89.26068, 27.33388], ...","[80076600.0, 80077800.0, 80078100.0, 80078400...."
2,205086000,"[[-93.48448, 26.39778], [-93.56166, 26.50175],...","[77814000.0, 77816700.0, 77819400.0, 77821800...."
3,205089000,"[[-90.35513, 24.80777], [-90.36815, 24.81126],...","[94534200.0, 94535100.0, 94536000.0, 94536300...."
4,205097000,"[[-93.45964, 26.5793], [-93.6274, 26.76886], [...","[82272300.0, 82275300.0, 82275600.0, 82276200...."
...,...,...,...
2972,642122021,"[[-93.82248, 25.65528], [-93.85108, 25.66127],...","[19596300.0, 19596900.0, 19597500.0, 19597800...."
2973,645337000,"[[-91.57331, 26.81737], [-91.60873, 26.85394],...","[17980500.0, 17981400.0, 17982600.0, 17982900...."
2974,710016250,"[[-88.35071, 25.61065], [-88.36058, 25.62274],...","[12231000.0, 12231300.0, 12231600.0, 12231900...."
2975,710033290,"[[-92.98647, 26.33258], [-93.03388, 26.37598],...","[76974900.0, 76976100.0, 76976400.0, 76977000...."
2976,866666666,"[[-93.64103, 29.42988], [-93.64099, 29.43002]]","[33564300.0, 33564900.0]"